/* azules oscuros*/
.content-wrapper {
    background: #485c6e;
}
.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper{
    background: #485c6e;
}
hr {
    border-top: #485c6e;
}
/* grises */
.box-body, .box-header {
    background: #8a391e ; /*#636f7b*/
}
.nav-tabs-custom>.nav-tabs>li.active:hover>a, .nav-tabs-custom>.nav-tabs>li.active>a {
    background-color: #8a391e;
    color: whitesmoke;
}
.nav-tabs-custom, .nav-tabs-custom > .tab-content, .nav-tabs {
    background: #8a391e;
}

/* blancos */
label {
    color: whitesmoke;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, b, strong {
    color: whitesmoke;
}
.irs-min, .irs-max {
    color: whitesmoke;
}
.datatables {
    background: whitesmoke;
    padding: 10px;
}

