          body, label, input, button, select, box,
          .h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
            font-family: "Arial";
            color: rgb(205,205,205);
          }

          /* font: fix for h6 */
          /* messes up sidebar user section if included above */
          .h6, h6 {
            font-family: "Arial";
          }

          /* sidebar: logo */
          .skin-blue .main-header .logo {
            background: rgb(70,80,90);
          }

          /* sidebar: logo hover */
          .skin-blue .main-header .logo:hover {
            background: rgb(70,80,90);
          }

          /* sidebar: collapse button  */
          .skin-blue .main-header .navbar .sidebar-toggle {
            background: rgb(70,80,90);
            color:rgb(25,35,45);
          }

          /* sidebar: collapse button hover */
          .skin-blue .main-header .navbar .sidebar-toggle:hover {
            background: rgb(40,50,60);
            color:rgb(0,0,0);
          }

          /* header */
          .skin-blue .main-header .navbar {
            background: rgb(70,80,90);
            box-shadow: 0px 0px 0px ;
          }

          /* sidebar*/
          .skin-blue .main-sidebar {
            background: rgb(52,62,72);
            box-shadow:  0px 0px 0px;
            padding-left: 0px;
            padding-right: 0px;
            /* padding-top: 60px; */
          }

          /* sidebar menu */
          .main-sidebar .user-panel, .sidebar-menu, .sidebar-menu>li.header {
            white-space: nowrap;
            background: transparent;
            padding: 0px;
            border-radius: 0px;
          }

          /* fix for user panel */
          .user-panel>.info>p, .skin-blue .user-panel>.info {
            color: rgb(205,205,205);
            font-size: 12px;
            font-weight: normal;
          }
          section.sidebar .user-panel {
            padding: 10px;
          }

          /* sidebar: tabs */
          .skin-blue .main-sidebar .sidebar .sidebar-menu a {
            color: rgb(205,205,205);
            font-size: 14px;
            border-style: none;
            border-color: none;
            border-width: 0px;
          }

          /* sidebar: tab selected */
          .skin-blue .main-sidebar .sidebar .sidebar-menu .active > a {
            color: rgb(255,255,255);
            font-size: 14px;
            border-radius: 5px;
            border-style: none;
            border-color: none;
            border-width: 0px;
          }
          .skin-blue .sidebar-menu > li:hover > a,
          .skin-blue .sidebar-menu > li.active > a {
            color: rgb(255,255,255);
            background: rgb(70,80,90);
            border-radius: 5px;
          }

          /* sidebar: tab hovered */
          .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover {
            background: rgb(55,65,75);color: rgb(255,255,255);
            font-size: 14px;
            border-style: none;
            border-color: none;
            border-width: 0px;
            border-radius: 5px;
          }

          /* sidebar: subtab */
          .skin-blue .sidebar-menu > li > .treeview-menu {
          	margin: 0px;
            background: transparent;
          }
          .skin-blue .treeview-menu > li > a {
            background: transparent;
          }
          /* sidebar: subtab selected */
          .skin-blue .treeview-menu > li.active > a,
          .skin-blue .treeview-menu > li > a:hover {
            background: rgb(70,80,90);
          }

          /* sidebar: search text area */
          .skin-blue .sidebar-form input[type=text] {
            background: rgb(45,55,65);
            color: rgb(205,205,205);
            border-radius: 5px 0px 0px 5px;
            border-color: rgb(45,55,65);
            border-style: solid none solid solid;
          }

          /* sidebar: search button */
          .skin-blue .input-group-btn > .btn {
            background: rgb(45,55,65);
            color: rgb(153,153,153);
            border-radius: 0px 5px 5px 0px;
            border-style: solid solid solid none;
            border-color: rgb(45,55,65);
          }

          /* sidebar form */
          .skin-blue .sidebar-form {
            border-radius: 0px;
            border: 0px none rgb(255,255,255);
            margin: 10px;
          }

          /* body */
          .content-wrapper, .right-side {
            background: rgb(45,55,65);
          }

          /* box */
          .box {
            background: rgb(52,62,72);
            border-radius: 5px;
            box-shadow: 0px 0px 0px ;
          }

          /* box: title */
          .box-header .box-title {
            font-size: 16px;
          }

          /* tabbox: title */
          .nav-tabs-custom>.nav-tabs>li.header {
            color: rgb(205,205,205);
            font-size: 16px;
          }

          /* tabbox: tab color */
          .nav-tabs-custom, .nav-tabs-custom .nav-tabs li.active:hover a, .nav-tabs-custom .nav-tabs li.active a {
            background: rgb(52,62,72);
            color: rgb(205,205,205);
            border-radius: 5px;
          }

          .nav-tabs-custom {
            box-shadow: 0px 0px 0px ;
          }

          /* tabbox: active tab bg */
          .nav-tabs-custom>.nav-tabs>li.active {
            border-radius: 5px;
            border-top-color: rgb(70,80,90);
            /* box-shadow: 0px 0px 0px ;*/
          }

          /* tabbox: font color */
          .nav-tabs-custom>.nav-tabs>li.active:hover>a, .nav-tabs-custom>.nav-tabs>li.active>a {
            border-bottom-color: rgb(52,62,72);
            border-top-color: rgb(70,80,90);
            border-right-color: rgb(70,80,90);
            border-left-color: rgb(70,80,90);
            color: rgb(205,205,205);
            font-size: 14px;
            border-radius: 5px;
          }

          /* tabbox: inactive tabs background */
          .nav-tabs-custom>.nav-tabs>li>a {
            color: rgb(205,205,205);
            font-size: 14px;
          }

          /* tabbox: top area back color */
          .nav-tabs-custom, .nav-tabs-custom>.tab-content, .nav-tabs-custom>.nav-tabs {
            border-bottom-color: rgb(70,80,90);
            background: rgb(52,62,72);
          }

          /* tabbox: top area rounded corners */
          .nav-tabs-custom>.nav-tabs {
            margin: 0;
            border-radius: 5px;
          }

          /* infobox */
          .info-box {
            background: rgb(52,62,72);
            border-radius: 5px;
            box-shadow: 0px 0px 0px ;
          }

          /* valuebox */
          .small-box {
            border-radius: 5px;
            box-shadow: 0px 0px 0px ;
          }

          /* valuebox: main font color */
          .small-box h3, .small-box p {
            color: rgb(255,255,255)
          }

          /* box: default color */
          .box.box-solid>.box-header, .box>.box-header {
            color: rgb(205,205,205);
          }
          .box.box-solid>.box-header {
            border-radius: 5px;
          }
          .box.box-solid, .box {
            border-radius: 5px;
            border-top-color: rgb(52,62,72);
          }

          /* box: info color */
          .box.box-solid.box-info>.box-header h3, .box.box-info>.box-header h3 {
            color: rgb(255,255,255);
          }
          .box.box-solid.box-info>.box-header {
            background: rgb(80,95,105);
            border-radius: 5px;
          }
          .box.box-solid.box-info, .box.box-info {
            border-color: rgb(80,95,105);
            border-left-color: rgb(80,95,105);
            border-right-color: rgb(80,95,105);
            border-top-color: rgb(80,95,105);
            border-radius: 5px;
          }

          /* box: primary color */
          .box.box-solid.box-primary>.box-header h3, .box.box-primary>.box-header h3 {
            color: rgb(255,255,255);
          }
          .box.box-solid.box-primary>.box-header {
            background: rgb(200,200,200);
            border-radius: 5px;
          }
          .box.box-solid.box-primary, .box.box-primary {
            border-color: rgb(200,200,200);
            border-left-color: rgb(200,200,200);
            border-right-color: rgb(200,200,200);
            border-top-color: rgb(200,200,200);
            border-radius: 5px;
          }

          /* box: success color */
          .box.box-solid.box-success>.box-header h3, .box.box-success>.box-header h3 {
            color: rgb(255,255,255);
          }
          .box.box-solid.box-success>.box-header {
            background: rgb(155,240,80);
            border-radius: 5px;
          }
          .box.box-solid.box-success, .box.box-success {
            border-color: rgb(155,240,80);
            border-left-color: rgb(155,240,80);
            border-right-color: rgb(155,240,80);
            border-top-color: rgb(155,240,80);
            border-radius: 5px;
          }

          /* box: warning color */
          .box.box-solid.box-warning>.box-header h3, .box.box-warning>.box-header h3 {
            color: rgb(255,255,255);
          }
          .box.box-solid.box-warning>.box-header {
            background: rgb(240,80,210);
            border-radius: 5px;
          }
          .box.box-solid.box-warning, .box.box-warning {
            border-color: rgb(240,80,210);
            border-left-color: rgb(240,80,210);
            border-right-color: rgb(240,80,210);
            border-top-color: rgb(240,80,210);
            border-radius: 5px;
          }

          /* box: danger color */
          .box.box-solid.box-danger>.box-header h3, .box.box-danger>.box-header h3 {
            color: rgb(255,255,255);
          }
          .box.box-solid.box-danger>.box-header {
            background: rgb(240,80,80);
            border-radius: 5px;
          }
          .box.box-solid.box-danger, .box.box-danger {
            border-color: rgb(240,80,80);
            border-left-color: rgb(240,80,80);
            border-right-color: rgb(240,80,80);
            border-top-color: rgb(240,80,80);
            border-radius: 5px;
          }

          /* button */
          .btn-default {
            background: rgb(230,230,230);
            color: rgb(0,0,0);
            border-color: rgb(50,50,50);
            border-radius: 5px;
            height: 34px;
            padding: 6px 12px;
          }

          /* button: hover */
          .btn-default:hover {
            background: rgb(180,180,180);
            color: rgb(50,50,50);
            border-color: rgb(50,50,50);
          }

          /* button: focus */
          .btn-default:focus, .action-button:focus {
            background: rgb(230,230,230);
            color: rgb(0,0,0);
            border-color: rgb(50,50,50);
          }

          /* button: active */
          .btn-default:active, .action-button:active {
            background: rgb(230,230,230);
            color: rgb(0,0,0);
            border-color: rgb(50,50,50);
          }

          /* button: visited */
          .btn-default:visited {
            background: rgb(230,230,230);
            color: rgb(0,0,0);
            border-color: rgb(50,50,50);
          }

          /* textbox */
          .form-control, .selectize-input, .selectize-control.single .selectize-input {
            background: rgb(68,80,90);
            color: rgb(205,205,205);
            border-color: rgb(76,90,103);
            border-radius: 5px;
            height: 34px;
            min-height: 34px;
            padding: 6px 12px;
          }

          /* textbox: selected */
          .form-control:focus, .selectize-input.focus {
            color: rgb(205,205,205);
            background: rgb(80,90,100);
            border-color: rgb(255,255,255);
            -webkit-box-shadow: inset 0px 0px 0px, 0px 0px 0px;
            box-shadow: inset 0px 0px 0px, 0px 0px 0px;
          }

          /* multi-row selectize input */
          .selectize-control.multi .selectize-input.has-items {
            height: auto;
          }

          /* verbatim text output */
          .qt pre, .qt code {
            font-family: Arial !important;
          }
          pre {
            color: rgb(205,205,205);
            background-color: rgb(68,80,90);
            border: 1px solid rgb(76,90,103);
            border-radius: 5px;
          }

          /* drop-down menu */
          .selectize-dropdown, .selectize-dropdown.form-control {
            background: rgb(68,80,90);
            border-radius: 4px;
          }

          /* table */
          .table {
            background: rgb(52,62,72);
            border-radius: 5px;
          }
         .dataTables_wrapper {
             background-color: rgb(70,80,90);
         }
          /* table: row border color*/
          .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
            border-top: 1px solid rgb(70,80,90);
          }

          /* table: top border color*/
          .table>thead>tr>th {
            border-bottom: 1px solid rgb(70,80,90);
          }

          /* table: hover row */
          .table-hover>tbody>tr:hover {
          background-color: rgb(70,80,90);
          }

          /* table: stripe row */
          .table-striped>tbody>tr:nth-of-type(odd) {
            background-color: rgb(70,80,90);
          }

          /* table: body colour */
          table.dataTable tbody tr {
            background-color: rgb(52,62,72) !important;
          }

          /* table: footer border colour */
          table.dataTable {
            border: 0px !important;
            color: white;
          }

          /* datatable: selected row */
          table.dataTable tr.selected td, table.dataTable td.selected {
            background-color: rgb(155,240,80) !important;
                    color: rgb(0,0,0) !important;
          }

          /* datatable: hover row */
          table.dataTable tr.hover td, table.dataTable td.hover {
            background-color: rgb(70,80,90) !important;
          }
          table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
            background-color: rgb(70,80,90) !important;
          }
          table.dataTable.row-border tbody th, table.dataTable.row-border tbody td,
          table.dataTable.display tbody th, table.dataTable.display tbody td {
            border-top: 1px solid rgb(70,80,90) !important;
          }

          /* datatable: stripe row */
          table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
            background-color: rgb(70,80,90) !important;
          }

          /* datatable: page control */
          .dataTables_wrapper .dataTables_paginate .paginate_button {
            color: rgb(205,205,205) !important;
          }

          /* datatable: table info */
          .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
          .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
          .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
            color: rgb(205,205,205) !important;
          }
          .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter,
          .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing,
          .dataTables_wrapper .dataTables_paginate {
            color: rgb(205,205,205) !important;
          }
          .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter,
          .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing,
          .dataTables_wrapper .dataTables_paginate {
            color: rgb(205,205,205) !important;
          }

          /* datatable search box */
          .dataTables_wrapper .dataTables_filter input {
            background-color: rgb(68,80,90);
            border: 1px solid rgb(76,90,103);
            border-radius: 5px;
          }

          /* notification and progress bar */
          .progress-bar {
            background-color: rgb(155,240,80);
          }
          .shiny-notification {
            height: 80px;
            font-family: Arial;
            font-size: 15px;
            color: rgb(0,0,0);
            background-color: rgb(225,225,225);
            border-color: rgb(205,205,205);
            border-radius: 10px;
            margin-left: -450px !important;
          }

          /* horizontal divider line */
          hr {
            border-top: 1px solid rgb(215,215,215);
          }

          /* modal */
          .modal-body {
            background-color: rgb(52,62,72);
          }

          .modal-footer {
            background-color: rgb(52,62,72);
          }

          .modal-header {
            background-color: rgb(52,62,72);
          }
          
          .irs-min, .irs-max, .irs--shiny, .irs-grid-text {
              color: rgb(215,215,215) !important;
              background-color: rgb(45,55,65) !important;
          }
          #lostgenes {
              color: chartreuse !important;
          }
